<% list_image_url = cl_image_path @list.photo.key || 'https://source.unsplash.com/400x300/?popcorn' %>
<div class="list-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list_image_url %>')">
</div>

<div class="container">

  <div class="d-flex justify-content-between align-items-center">
    <h1><%= @list.name %></h1>
    <div>
      <%= link_to 'Edit list', edit_list_path(@list), class: 'btn btn-outline-secondary' %>
      <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-outline-success' %>
      <%= link_to 'Delete list', list_path(@list), method: :delete, data: { confirm: "Deseja mesmo exlcuir a lista?" }, class: 'btn btn-outline-danger' %>
    </div>
  </div>

  <% @list.movies.each do |movie| %>

    <div class="movie-card">
      <% bookmark = @list.bookmarks.find{|bookm| bookm.movie = movie} %>
      <%= image_tag movie.poster_url %>
      <div class="movie-card-info">
        <div class="d-flex justify-content-start align-items-center m-0">
          <h2><%= movie.title %></h2>
          <h3> • <%= movie.rating %> <i class="fas fa-star text-warning"></i></h3>
        </div>
        <p><%= movie.overview %></p>

        <div class="movie-comment">
          <i class="fas fa-quote-left"></i>
          <p><%= bookmark.comment %></p>
        </div>
      </div>
      <p class='movie-card-delete'><%= link_to '<i class="fas fa-times">'.html_safe, bookmark_path(bookmark), class: 'text-secondary' ,method: :delete, data: {confirm: 'Remove bookmark from list?'} %></i></p>
    </div>
  <% end %>
</div>
